        body {
             background-color: rgb(104, 109, 112);
        }
        header {
             padding: 10px;
             text-align: center;
             border: solid 5px black; 
             background-color: rgba(206, 15, 15, 0.664);
        }    
        footer {
            padding: 10px;
            text-align: center;
            border: solid 5px black; 
            background-color: rgba(206, 15, 15, 0.664);
        }
        nav {
            text-align: center;
        }
        a {
            height: 3vh;
            width: 100vw;
        }
        a:link {
            color: white;
        }
        a:visited {
            color: black;
        }
        a:hover{
            background-color: rgb(141, 21, 21);
        }